<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='../static/index.css')}}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la lista de canciones</h1>
        <table class="table">
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Artista</th>
                <th>Género</th>
                <th>Precio</th>
                <th>Duración</th>
                <th>Lanzamiento</th>
                <th>Imágen</th>
                <th>Acciones</th>
            </tr>
            <tbody>
                
            </tbody>
        </table>
    </div>
</body>
</html>