<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canciones</title>
    <link rel="stylesheet" href="{{url_for ('static', filename='../static/canciones.css')}}">
    <link rel="stylesheet" href="../static/canciones.css">
</head>

<body>
    <div class="container">
        <h1>Bienvenido a la lista de canciones</h1>
        <table class="table">
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Artista</th>
                <th>Género</th>
                <th>Precio</th>
                <th>Duración</th>
                <th>Lanzamiento</th>
                <th>Imágen</th>
                <th>Acciones</th>
            </tr>
            <tbody>
                {% for canciones in canciones %}
                <tr>
                    <td>{{canciones[0]}}</td>
                    <td>{{canciones[1]}}</td>
                    <td>{{canciones[2]}}</td>
                    <td>{{canciones[3]}}</td>
                    <td>{{canciones[4]}}</td>
                    <td>{{canciones[5]}}</td>
                    <td>{{canciones[6]}}</td>
                    <td><img src="{{ canciones['img_base64'] }}" alt="Imagen de la canción"></td>
                    <td class="botones">
                        <a href="{{url_for('editar_cancion', id = canciones[0])}}">Editar</a>
                        <a href="{{ url_for('eliminar_cancion', id=canciones[0]) }}">Eliminar</a>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        <a href="{{ url_for('registrar_cancion')}}" class="agregar">Agregar Usuario</a>
    </div>
</body>

</html>